<ul>
  <li *ngFor="let v of videoList" [class.selected]="v.id === selectedVideoId">
    <a [routerLink]="" [queryParams]="{ id: v.id }"><app-video-display [video]="v"></app-video-display></a>
  </li>
</ul>
