<form [formGroup]="statsForm" (ngSubmit)="submitForm()">
  <input type="text" formControlName="stats">
  <input type="text" formControlName="moreStats">
  <button mat-raised-button color="primary">Submit</button>
</form>
